# .NET
bin/
obj/
*.user
*.userosscache
*.sln.doccache

# IDEs
.vs/
.vscode/
.idea/

# Project Specific
*.json
*.txt
*.ml.json
!README.md

# Tools and Temp
tools/
temp_decompressed.bin
barbarian_decompressed.bin
*.bin
*.log
*.png

# Python & ML
__pycache__/
*.pth
*.pyc
.ipynb_checkpoints/
venv/
.env
